.musicGrid {
  background-color: rgb(198, 188, 137);
  height: 400px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
}

.noteContainer {
  height: 100%;
  width: 40px;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */        
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.staffHolder {
  height: auto;
  margin: auto;
  overflow-x: scroll;
  width: 75vw;
  border: 30px solid rgb(128, 26, 26);
  background-color: rgb(168, 79, 79);
  border-radius: 30px;
}
