:root {
  --ROWS: 16;
  --COLS: 32;
}

.musicGrid {
  background-color: rgb(198, 188, 137);
  height: 500px;
  display: grid;
  grid-template-columns: repeat(var(--COLS),1fr);
  grid-template-rows: repeat(var(--ROWS),1fr);
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
}

.noteContainer {
  height: 100%;
  width: 60px;
  user-select: none;        
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}