body {
  background-color: #BCD3F2;
  overscroll-behavior: none;
}

.musicGrid {
  height: 400px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  align-content: center;
}

.noteContainer {
  height: 100%;
  width: 40px;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */        
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  font-family: 'Fredoka', sans-serif;
  color: white;
  border-radius: 5px;
  text-shadow: 2px 2px 0 #395C6B;
  box-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

.staffHolder {
  height: auto;
  margin: auto;
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
  overscroll-behavior: none;
  -ms-overflow-style: none;
  width: 75vw;
  border: 30px solid #bbb482;
  background-color: #E6E1C5;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);

  /* Hide scrollbar for Safari */
  &::-webkit-scrollbar {
    display: none;
  }
}

.playButton {
  padding: 10px 20px;
  width: 100px;
  height: 50px;
  font-size: 18px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: #80A4ED;
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 0 #395C6B;
  transition: all 0.1s ease;
  text-shadow: 2px 2px 0 #395C6B;
}

.playButton:hover {
  background-color: #80A4ED;
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #395C6B;
  text-shadow: 3px 3px 0 #395C6B;
}

.playButton:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #395C6B;
  text-shadow: 1px 1px 0 #395C6B;
}

.playButtonContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.inputRC {
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-family: 'Fredoka', sans-serif;
  border-radius: 5px;
  background-color: #80A4ED;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 0 #395C6B;
  transition: all 0.1s ease;
}

.inputRC:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 0 #395C6B;
}

.inputRC:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 #395C6B;
}

.clearButton {
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-family: 'Fredoka', sans-serif;
  border-radius: 5px;
  background-color: #ed8080;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 0 #6b3939;
  transition: all 0.1s ease;
}

.clearButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 0 #6b3939;
}

.clearButton:active {
  transform: translateY(2px);
  box-shadow: 0 1px 0 #6b3939;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.noteContainer.playing {
  animation: bounce 0.5s ease infinite;
}
